version: 2

updates:
  - package-ecosystem: 'npm'
    directory: '/'
    groups:
      dev-dependencies:
        dependency-type: 'development'
        update-types:
          - 'minor'
          - 'patch'
      dependencies:
        dependency-type: 'production'
        update-types:
          - 'minor'
          - 'patch'
      react:
        patterns:
          - '*react*'
    rebase-strategy: 'disabled'
    schedule:
      interval: 'daily'
