# Logs
*.log

# Coverage directory (tests with coverage)
coverage/

# Bundles
dist/
examples/browser/media-stream-library.min.js

# Cypress
cypress/videos/
cypress/screenshots/

# IDE
.idea/
.vscode/

# Yarn
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
node_modules/