# Logs
*.log

# Coverage directory (tests with coverage)
coverage/

# Bundles
dist/
tsconfig.tsbuildinfo
*.min.js*

# Cypress
cypress/videos/
cypress/screenshots/

# IDE
.idea/
.vscode/
.vim/

# dependency management
node_modules/
vendor/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Linting
.eslintcache

# Mac
.DS_Store

# Python
__pycache__/

# GitHub
!.github/
