# Logs
*.log

# Coverage directory (tests with coverage)
coverage/

# Bundles
dist/
examples/web-component/media-stream-player.min.js

# Dependencies
node_modules/

# Cypress
cypress/videos/
cypress/screenshots/

# Editors
.vscode/
.idea/
