# Logs
*.log

# Coverage directory (tests with coverage)
coverage/

# Bundles
dist/
examples/web-component/media-stream-player.min.js

# Cypress
cypress/videos/
cypress/screenshots/

# Yarn
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
node_modules/

# ESLint
.eslintcache

